.InteractiveSection{
    width: auto;
    background-color: #e3e3e3;
    /* margin: auto; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 1rem; */
}
.InteractiveSection__Title{
    text-align: center;
}